html, body {
    margin: 0;
    padding: 0;
}

webview {
    width: 100%;
    height: 540px;
    background: white;
}

#progress {
    position: absolute;
    width: 54px;
    height: 55px;
    top: 235px;
    left: 373px;
}